@model IEnumerable<ServiceRequests.Models.ServiceRequestModel>
@{ Layout = "_Layout"; ViewBag.Title = "Service Requests";}
 
<h2>Service Requests</h2><br />
<a asp-action="AddServiceRequests" class="btn btn-sm btn-primary">Add Service Request</a>
<a asp-action="GetServiceRequest" class="btn btn-sm btn-secondary">Get Service Request</a>
 
<table class="table table-sm table-striped table-bordered m-2">
    <thead>
        <tr>
            <th>ID</th>
            <th>Building Code</th>
            <th>Description</th>
            <th>Status</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var r in Model)
        {
            <tr>
                <td>@r.Id</td>
                <td>@r.BuildingCode</td>
                <td>@r.Description</td>
                <td>@r.Status</td>
                <td align="center">
                    <a asp-action="UpdateServiceRequest" asp-route-id="@r.Id">
                        <img class="btn btn-dark" />
                    </a>
                </td>
                <td align="center">
                    <form asp-action="DeleteServiceRequest" method="post">
                        <input type="hidden" value="@r.Id" name="Id" />
                        <input type="image" class="btn btn-danger" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>